<h1>Hello World!</h1>

<button class="btn btn-danger">Hello</button>
<button class="btn btn-primary">Hello</button>
<button class="btn btn-default">Hello</button>

<div class="dropdown">
  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown trigger
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    ...
  </ul>
</div>

<div>
	
<h1>{{ person.name }}</h1>

<input ng-model="person.name" />
</div>